<!DOCTYPE html>
<html>
<head>
    <title>WS Test</title>
</head>
<body>
    <h1>Test WebSocket</h1>
    <input id="chat-id" placeholder="Chat ID" value="1"><br><br>
    <textarea id="log" rows="10" cols="50" readonly></textarea><br>
    <input id="message-input" type="text" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>
    <button onclick="connectWS()">Connect</button>

    <script>
        let socket;

        function connectWS() {
            const chatId = document.getElementById("chat-id").value;
            socket = new WebSocket(`ws://${window.location.host}/ws/chat/${chatId}/`);

            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                document.getElementById("log").value += `${data.user}: ${data.message}\n`;
            };

            socket.onclose = function(e) {
                document.getElementById("log").value += "❌ Соединение закрыто\n";
            };
        }

        function sendMessage() {
            const messageInput = document.getElementById("message-input");
            const message = messageInput.value;
            socket.send(JSON.stringify({ message: message }));
            messageInput.value = "";
        }
    </script>
</body>
</html>
